<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<section class="container d-flex justify-content-between">
    <% for(let product of products){ %>
        <div class="card" style="width: 18rem;">
            <img src="<%=product.imgUrl%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <h6 class="card-title">$<%=product.price%></h6>
              <p class="card-text"><%=product.desc%></p>
              <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
            </div>
          </div>
    <% } %>
</section>

<%- include("./partials/footer") %>


