<%-  include("./partials/header") %>

<main class="container">
    <h1>All Products Page</h1>
    <a href="/products/new">Click Here To Create New Product</a>
    <% for(let product of products){ %>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%=product.image%>" class="img-fluid rounded-start h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <h5 class="card-title">$<%=product.price%></h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  <a href="/products/<%=product.id%>" class="btn btn-sm btn-dark">show</a>
                  <a href="/products/<%=product.id%>/edit" class="btn btn-sm btn-warning">Edit</a>
                  <form class="d-inline-block" method="post" action="/products/<%=product.id%>?_method=DELETE">
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    <% } %>
</main>

<%-  include("./partials/footer") %>
    
