<%-  include("./partials/header") %>

<main class="container">
    <h1>Show Page</h1>
    <a href="/v2/products">Go Back</a>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%=product.image%>" class="img-fluid rounded-start h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <h5 class="card-title">$<%=product.price%></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
  
</main>

<%-  include("./partials/footer") %>
    
